---
import '../styles/global.css';
import ShareToast from '../components/ShareToast.astro';
import ShareFooter from '../components/ShareFooter.astro';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <!-- displays site properly based on user's device -->

    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='./images/favicon-32x32.png'
    />

    <title>Frontend Mentor | Article preview component</title>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
    </style>
  </head>
  <body
    class='grid min-h-screen place-content-center bg-grey-200 px-6 py-16 font-manrope sm:px-[5rem]'
  >
    <main>
      <article
        class='flex max-w-[45.625rem] flex-col rounded-2lg bg-white shadow-(--article-drop-shadow) sm:flex-row'
      >
        <img
          class='mt-0 max-h-[12.5rem] rounded-t-2lg object-cover xs:object-(--drawers-position) sm:max-h-full sm:max-w-[37.7%] sm:rounded-l-2lg sm:rounded-tr-none sm:object-center'
          src='/images/drawers.jpg'
          alt='Drawers'
          width='660'
          height='528'
        />
        <div
          class='mt-8 flex flex-col px-[1.875rem] pb-[1.125rem] sm:mt-0 sm:p-[1.875rem] md:pe-9 lg:px-10'
        >
          <h1 class='text-xl/[1.3] font-bold tracking-[.0156rem] text-grey-900'>
            Shift the overall look and feel by adding these wonderful touches to
            furniture in your home
          </h1>
          <p class='mt-6 text-[.8125rem]/[1.4] font-medium text-grey-500'>
            Ever been in a room and felt like something was missing? Perhaps it
            felt slightly bare and uninviting. I’ve got some simple tips to help
            you make any room feel complete.
          </p>
          <footer class='relative'>
            <ShareFooter id='share-footer' />
            <ShareToast
              id='share-toast'
              class='-ms-[1.875rem] mt-[1.875rem] -mb-[1.125rem] hidden w-[calc(100%_+_2*1.875rem)] px-[1.875rem] py-[1.375rem] sm:absolute sm:-right-[6.75rem] sm:bottom-[5.1875rem] sm:w-auto sm:rounded-2lg sm:px-[2.375rem] sm:py-[1.125rem] sm:shadow-(--share-toast-drop-shadow)'
            />
          </footer>
        </div>
      </article>
    </main>

    <footer>
      <p class='mt-6 text-center text-xs'>
        Challenge by <a
          class='text-blue-400 underline'
          href='https://www.frontendmentor.io?ref=challenge'
          target='_blank'
        >
          Frontend Mentor
        </a>. <span class='whitespace-nowrap'
          >Coded by <a
            class='text-blue-400 underline'
            href='https://www.frontendmentor.io/profile/AnonymousCoder323'
            >Anonymous Coder</a
          >.</span
        >
      </p>
    </footer>
  </body>
</html>

<script>
  const shareFooter = document.getElementById('share-footer');
  const shareToast = document.getElementById('share-toast');
  const shareFooterButton = document.getElementById('share-footer-button');
  const shareToastButton = document.getElementById('share-toast-button');
  [shareFooterButton, shareToastButton].forEach((button) => {
    button?.addEventListener('click', () => {
      shareFooter?.classList.toggle('max-sm:hide');
      shareToast?.classList.toggle('hidden');
      shareFooterButton?.classList.toggle('sm:bg-grey-500');
      shareFooterButton?.classList.toggle('sm:fill-grey-200');
    });
  });
</script>
